<div class="modal fade" id="ModFormateur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Modifier formateur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="modFormateurForm" (ngSubmit)="modFormateur()">

                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" class="form-control validate" placeholder="nom" name="nom"
                            formControlName="nom" [value]="nomm">
                        <div class="alert alert-warning" *ngIf="nom.touched && nom.invalid">
                            <div *ngIf=nom.errors.required> le champ nom est obligatoire</div>
                            <div *ngIf=nom.errors.minlength> min 2!</div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" class="form-control validate" placeholder="Prenom" name="prenom"
                            formControlName="prenom" [value]="prenomm">
                        <div class="alert alert-warning" *ngIf="prenom.touched && prenom.invalid">
                            <div *ngIf=prenom.errors.required> le champ prenom est obligatoire</div>
                            <div *ngIf=prenom.errors.minlength> min 2!</div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-baby-carriage prefix grey-text"></i>
                        <input type="text" class="form-control validate" placeholder="Age" name="age"
                            formControlName="age" [value]="agem">
                        <div class="alert alert-warning" *ngIf="age.touched && age.invalid">
                            <div *ngIf=age.errors.required> le champ age est obligatoire</div>
                            <div *ngIf=age.errors.minlength> min 2!</div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" class="form-control validate" placeholder="Fonction" name="fonction"
                            formControlName="fonction" [value]="fonctionm">
                        <div class="alert alert-warning" *ngIf="fonction.touched && fonction.invalid">
                            <div *ngIf=fonction.errors.required> le champ fonction est obligatoire</div>
                            <div *ngIf=fonction.errors.minlength> min 2!</div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" class="form-control validate" placeholder="Email" name="email"
                            formControlName="email" [value]="emailm">
                        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                            <div *ngIf="email.errors.required">
                                l'email est obligatoire !
                            </div>
                            <div *ngIf="email.errors.email">
                                le champ email est invalid !
                            </div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-email"></label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-phone prefix grey-text"></i>
                        <input type="text" class="form-control validate" placeholder="Tel" name="tel"
                            formControlName="tel" [value]="telm">
                        <div class="alert alert-danger" *ngIf="tel.touched && tel.invalid">
                            <div *ngIf="tel.errors.required">
                                le champ tel est obligatoire !
                            </div>
                            <div *ngIf="tel.errors.pattern">
                                tel invalid!
                            </div>
                            <div *ngIf="tel.errors.minlength">
                                min 8 chif !
                            </div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-hand-holding-usd prefix grey-text"></i>
                        <input type="text" class="form-control validate" placeholder="Salaire" name="salaire"
                            formControlName="salaire" [value]="salairem">
                        <div class="alert alert-warning" *ngIf="salaire.touched && salaire.invalid">
                            <div *ngIf=salaire.errors.required> le champ salaire est obligatoire</div>
                            <div *ngIf=salaire.errors.minlength> min 2!</div>
                        </div>
                        <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
                    </div>


                </div>


                <div class="md-form">
                    <div class="file-field big-2">
                        <div class="btn btn-rounded peach-gradient btn-lg float-left">
                            <span>Choisir une image</span>
                            <input type="file" class="custom-file-input" id="customFile" name="img"
                                formControlName="img" accept="image/*" (change)=" onFileSelected($event)">
                        </div>
                        <div class="alert alert-warning" *ngIf="img.touched && img.invalid">
                            <div *ngIf=img.errors.required> le champ img est obligatoire</div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="modal-footer d-flex justify-content-center">
                    <input class="btn btn-deep-orange" type="submit" value="Modifier"
                        [disabled]="modFormateurForm.invalid" />
                </div>
            </form>
        </div>
    </div>
</div>