<div class="modal fade" id="profileFormateur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar" role="document">

        <div class="modal-content">


            <div class="modal-header">
                <img [src]="image_formateur" alt="avatar" class="rounded-circle img-responsive">
            </div>

            <div class="modal-body   mb-1">

                <h5 class="mt-1 text-center mb-2"> {{ nom }} {{ prenom }} </h5>

                <div class="md-form ml-0 mr-0">

                    <h5 class="mt-1 mb-2" *ngIf="isLoggedAdmin">Age : {{ age }} </h5>

                    <h5 class="mt-1 mb-2" *ngIf="isLoggedAdmin">Email : {{ email }} </h5>

                    <h5 class="mt-1 mb-2" *ngIf="isLoggedAdmin">Tel : {{ tel }} </h5>

                    <h5 class="mt-1 mb-2">Fonction : {{ fonction }} </h5>

                    <h5 class="mt-1 mb-2" *ngIf="isLoggedAdmin">Salaire : {{ salaire }} </h5>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-orange mt-1" *ngIf="isLoggedAdmin" (click)="ModifierFormateur()"
                        data-toggle="modal" data-target="#ModFormateurP">Modifier <i
                            class="fas fa-sign-in ml-1"></i></button>
                    <!-- <button class="btn btn-orange mt-1"  *ngIf="isLoggedAdmin" (click)="supprimerFormateur(email)">Supprimer<i class="fas fa-sign-in ml-1"></i></button> -->

                </div>

            </div>

        </div>

    </div>
</div>
<!-- Modifier formateur profile -->
<app-modifier-formateur-profil></app-modifier-formateur-profil>