<section class="page-section bg-primary" id="Inscription">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Nos foramateurs</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">Notre chére équipe
        </p>
      </div>
    </div>
  </div>
</section>

<div id="Formateurs">
  <div *ngIf="formateurs.length > 0;then listeformateurs else noformateurs"></div>
  <ng-template #noformateurs>
    <div class="alert alert-warning">Aucun formateur n'est ajouté</div>
  </ng-template>
  <ng-template #listeformateurs>
    <section id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6" *ngFor="let formateur of formateurs;let j=index">
            <a class="portfolio-box" href="" data-toggle="modal" data-target="#modalLoginAvatar" (click)="ConslterFormateur(formateur)">
              <img class="img-fluid" [src]="formateurs[j].image_formateur" alt="">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  {{ formateur.prenom }} {{ formateur.nom }}
                </div>
                <div class="project-name">
                  {{ formateur.fonction }}
                </div>
              </div>
            </a>
            <!--Modal: Login with Avatar Form-->
            <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog cascading-modal modal-avatar" role="document">
                <!--Content-->
                <div class="modal-content">

                  <!--Header-->
                  <div class="modal-header">
                    <img [src]="image_formateur" alt="avatar"
                      class="rounded-circle img-responsive">
                  </div>
                  <!--Body-->
                  <div class="modal-body   mb-1">

                    <h5 class="mt-1 text-center mb-2" > {{ nom }}  {{ prenom }} </h5>

                    <div class="md-form ml-0 mr-0">
                      
                      <h5 class="mt-1 mb-2">Age : {{ age }} </h5>
                  
                      <h5 class="mt-1 mb-2">Email :  {{ email }} </h5>
           
                      <h5 class="mt-1 mb-2" >Tel : {{ tel }} </h5>
                
                      <h5 class="mt-1 mb-2">Fonction : {{ fonction }} </h5>
                   
                      <h5 class="mt-1 mb-2">Salaire : {{ salaire }} </h5>
                    </div>

                    <div class="text-center mt-4">
                      <button class="btn btn-orange mt-1"  *ngIf="isLoggedAdmin">Modif <i class="fas fa-sign-in ml-1"></i></button>
                      <button class="btn btn-orange mt-1"  *ngIf="isLoggedAdmin" (click)="supprimerFormateur(email)">Sup<i class="fas fa-sign-in ml-1"></i></button>
                     
                    </div>

                  </div>

                </div>

              </div>
            </div>


          </div>

        </div>
      </div>
    </section>
  </ng-template>
</div>
<!-- <app-consulter-formateur></app-consulter-formateur> -->
<app-ajout-formateur *ngIf="isLoggedAdmin"></app-ajout-formateur>