<section class="page-section bg-primary" id="Inscription">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Nos Formations</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">FormaLab vous propose plusieurs formations continues sur les nouvelles
          technologies, langages de programmation et les frameworks qui sont en tendance dans le marché international.
        </p>
      </div>
    </div>
  </div>
</section>
<div id="Formations">
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="">
            <img class="img-fluid" src="../assets/img/portfolio/thumbnails/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="">
            <img class="img-fluid" src="../assets/img/portfolio/thumbnails/2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/fullsize/3.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/thumbnails/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/fullsize/4.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/thumbnails/4.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/fullsize/5.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/thumbnails/5.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/fullsize/6.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/thumbnails/6.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="page-section bg-dark text-white" id="AjoutFormateur">
  <div class="container text-center">
    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Ajouter Formation</a>
  </div>
</section>