<section class="page-section bg-primary" id="Inscription">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Nos Formations</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">FormaLab vous propose plusieurs formations continues sur les nouvelles
            technologies, langages de programmation et les frameworks qui sont en tendance dans le marché international.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div id="Formations">
    <div *ngIf="formations.length > 0;then listeformations else noformations"></div>
    <ng-template #noformations>
      <div class="alert alert-warning">Aucune formation n'est ajouté</div>
    </ng-template>
    <ng-template #listeformations>
      <section id="portfolio">
        <div class="container-fluid p-0" >
          <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6" *ngFor="let formation of formations;let j=index">
              <a class="portfolio-box" href="">
                <img class="img-fluid" [src]="formations[j].image_Formation" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-name">
                        {{ formation.titre }}
                      </div>
                  <div class="project-category text-white-50">
                      {{ formation.description }} 
                  </div>
                  <div class="project-category text-white-50">
                      {{ formation.volume_horaire }}  H
                  </div>
                  <div class="project-category text-white-50">
                     {{ formation.prix }} DT
                  </div>
                  
                </div>
              </a>
            </div>
  
          </div>
        </div>
      </section>
    </ng-template>
  </div>
  
